<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">User Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class ="container">
    <div class = "row">
        <h1 class="text-center"> User List </h1>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr class="text-center">
            <th> User ID</th>
            <th> Username</th>
            <th> Password</th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "user: ${users}" class="text-center">
            <td th:text = "${user.id}"></td>
            <td th:text = "${user.username}"></td>
            <td th:text = "${user.password}"></td>
            <td>
                <a th:href = "@{/user/edit/{id}(id=${user.id})}"
                   class = "btn btn-primary">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>